body {
    margin: 0;
    font-family: poppin,Tahoma,Arial,sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.bgimg {
    background-image: url(icon_sprite.png)
}

a {
    text-decoration: none;
    color: black;
}