.ball-list {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 0;
    a {
        display: inline-block;
        width: 28px;
        height: 12px;
        padding: 0 0 26px;
        margin: 0 1px;
        background: 0 0;
        .ball-btn {
            display: block;
            width: 8px;
            height: 8px;
            background-color: rgba(0,0,0,.1);
            border-radius: 4px;
            margin: 0 auto;
            &:hover, &.current {
                background-color: rgba(0,0,0,.3);
            }
        }
    }
}