.lyric-content {
    position: relative;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    margin-right: -35px;
    font-size: 14px;
    line-height: 34px;
    
    .lyric-item {
        margin-right: 35px;
        height: 34px;
        margin:0;
        padding: 0;
        &.on {
            color:  #31c27c;
        }
    }
}